In [1]:
import pandas as pd
import numpy as np

In [2]:
import requests

In [3]:
url = 'https://jupyter.org/'

req = requests.Request('GET', url)
req.headers['User-Agent'] = 'Mozilla/5.0'

req = req.prepare()

In [4]:
with requests.Session() as sess:
    page = sess.send(req)

In [5]:
page_html=page.text

In [6]:
from bs4 import BeautifulSoup

In [ ]:
print(BeautifulSoup(page_html, 'html.parser').prettify())

In [8]:
from IPython.display import HTML

In [ ]:
HTML(page_html)

Let's compare this to the live website, which can be opened in Jupyter using an IFrame. Do this by running the following code:

In [ ]:
from IPython.display import IFrame
IFrame(src=url, height=800, width=800)
#output cleared,to see run again

In [11]:
url = 'http://www.python.org/'
page = requests.get(url)

In [12]:
page_html=page.text

In [13]:
url="https://en.wikipedia.org/wiki/List_of_countries_by_central_bank_interest_rates"
page = requests.get(url)

In [14]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page.content, 'html.parser')

In [15]:
h1=soup.findAll("h1")

In [16]:
h1=h1[0]

In [17]:
h1.attrs

{'id': 'firstHeading', 'class': ['firstHeading'], 'lang': 'en'}

In [18]:
h1.text

'List of countries by central bank interest rates'

In [19]:
imgs=soup.findAll("img")

In [20]:
len(imgs)

92

In [21]:
body_content = soup.find('div', {'id': 'bodyContent'})

In [22]:
table_headers = body_content.find_all('th')[:3]

In [23]:
table_headers

[<th>Country or<br/>currency union</th>,
 <th>Central bank <br/> interest rate (%)</th>,
 <th>Date of last <br/> change
 </th>]

In [24]:
table_headers = [element.get_text().replace('\n', ' ')

for element in table_headers]

table_headers

['Country orcurrency union',
 'Central bank  interest rate (%)',
 'Date of last  change ']

In [25]:
row_number = 2

d1, d2, d3 = body_content.find_all('tr')[row_number].find_all('td')

In [26]:
d1.text

'\xa0Angola'

In [27]:
d1.find("a").text

'Angola'

In [28]:
d3

<td><span data-sort-value="000000002019-05-24-0000" style="white-space:nowrap">24 May 2019</span><sup class="reference" id="cite_ref-CentralBankNews_1-1"><a href="#cite_note-CentralBankNews-1">[1]</a></sup>
</td>

In [29]:
d3.find("span").text

'24 May 2019'

In [30]:
d2

In [31]:
d2.text

'15.50'

**To get all rows which have 3 data elements only into a list**

In [32]:
row=[]
list1=[]
row=body_content.find_all('tr')
for i in range(len(row)):    
    if(i>0):
            data=[]
            data=row[i].find_all("td")
            if(len(data)==3):
                try:
                    data1=[]
                    data1.append(data[0].find("a").text)
                    data1.append(data[1].text)
                    data1.append(data[2].find("span").text)
                    list1.append(data1)
                except:
                    print("ignoring row {} as exception occured".format(i))

ignoring row 5 as exception occured
ignoring row 10 as exception occured
ignoring row 26 as exception occured

In [33]:
df=pd.DataFrame(list1,columns = ["name","value","date"])
print(df.head())
print("length of dataframe {}".format(len(df)))

         name  value             date
0     Albania   1.00      6 June 2016
1      Angola  15.50      24 May 2019
2   Argentina  58.00      1 July 2019
3     Armenia   5.75  29 January 2019
4  Azerbaijan   8.25     26 July 2019
length of dataframe 90

In [34]:
import os
os.getcwd()
os.chdir(r"C:/Users/shars/OneDrive/Desktop")

**To write down the data into the csv file** (*"-" seperated file*)

In [35]:
f_path = '..//interest-rates.csv'
with open(f_path, 'w') as f:

    f.write('{}-{}-{}\n'.format(*table_headers)) 
    for d in list1:

        f.write('{}-{}-{}\n'.format(*d))

In [36]:
os.getcwd()

'C:\\Users\\shars\\OneDrive\\Desktop'

In [37]:
with open(f_path, 'r') as f:

    int_rates_col_names = next(f).split('-')

    int_rates = [line.split('-') for line in f.read(). splitlines()]

In [38]:
(int_rates_col_names)

['Country orcurrency union',
 'Central bank  interest rate (%)',
 'Date of last  change \n']

In [39]:
int_rates

[['Albania', '1.00', '6 June 2016'],
 ['Angola', '15.50', '24 May 2019'],
 ['Argentina', '58.00', '1 July 2019'],
 ['Armenia', '5.75', '29 January 2019'],
 ['Azerbaijan', '8.25', '26 July 2019'],
 ['Bahamas', '4.00', '22 December 2016'],
 ['Bahrain', '2.50', '31 July 2019'],
 ['Bangladesh', '6.00', '6 April 2018'],
 ['Belarus', '10.00', '20 July 2018'],
 ['Botswana', '5.00', '24 October 2017'],
 ['Brazil', '6.00', '31 July 2019'],
 ['Bulgaria', '0.00', '29 January 2016'],
 ['Canada', '1.75', '24 October 2018'],
 ['Cape Verde', '3.50', '16 February 2015'],
 ['Central African States', '2.95', '22 March 2017'],
 ['Chile', '2.50', '8 May 2017'],
 ['China', '4.35', '23 October 2015'],
 ['Czech Republic', '2.00', '2 May 2019'],
 ['Colombia', '5.50', '27 July 2017'],
 ['DR Congo', '14.00', '14 January 2017'],
 ['Croatia', '3.00', '17 September 2017'],
 ['Denmark', '', '0.65', '7 January 2016'],
 ['Dominican Republic', '5.25', '31 July 2017'],
 ['Egypt', '16.75', '29 March 2018'],
 ['Eurozone', '0.00', '10 March 2016'],
 ['Fiji', '0.50', '2 November 2011'],
 ['Gambia', '20.00', '9 May 2017'],
 ['Georgia', '7.00', '2 May 2017'],
 ['Ghana', '20.00', '24 July 2017'],
 ['Hong Kong', '1.50', '15 June 2017'],
 ['Hungary', '0.90', '24 May 2016'],
 ['Iceland', '4.50', '14 June 2017'],
 ['India', '5.40', '7 August 2019'],
 ['Indonesia', '6.00', '15 November 2018'],
 ['Iran', '15.00', '22 August 2017'],
 ['Israel', '0.25', '26 November 2018'],
 ['Jamaica', '5.00', '21 May 2016'],
 ['Japan', '', '0.10', '29 January 2016'],
 ['Jordan', '3.75', '15 June 2017'],
 ['Kazakhstan', '9.00', '15 June 2017'],
 ['Kenya', '10.00', '20 September 2016'],
 ['Kuwait', '2.75', '15 March 2017'],
 ['Kyrgyzstan', '5.00', '27 December 2016'],
 ['Macedonia', '3.25', '15 February 2017'],
 ['Malawi', '18.00', '5 July 2017'],
 ['Malaysia', '3.00', '13 July 2016'],
 ['Mauritius', '4.00', '20 July 2016'],
 ['Mexico', '8.25', '27 January 2019'],
 ['Moldova', '8.00', '29 June 2017'],
 ['Mongolia', '11.00', '27 November 2018'],
 ['Morocco', '2.25', '22 March 2016'],
 ['Mozambique', '21.75', '15 April 2017'],
 ['Namibia', '7.00', '13 April 2016'],
 ['New Zealand', '1.00', '7 August 2019'],
 ['Nigeria', '14.00', '26 July 2016'],
 ['Norway', '1.25', '21 June 2019'],
 ['Pakistan', '13.25', '16 July 2019'],
 ['Paraguay', '5.50', '20 July 2016'],
 ['Peru', '3.75', '13 July 2017'],
 ['Philippines', '3.00', '3 June 2014'],
 ['Poland', '1.50', '4 March 2015'],
 ['Qatar', '5.00', '16 March 2017'],
 ['Romania', '2.50', '7 May 2018'],
 ['Russia', '7.25', '23 March 2018'],
 ['Rwanda', '6.00', '27 June 2017'],
 ['Samoa', '0.14', '1 July 2016'],
 ['Saudi Arabia', '2.00', '19 January 2009'],
 ['Serbia', '2.50', '8 August 2019'],
 ['Sierra Leone', '13.00', '15 June 2017'],
 ['South Africa', '6.75', '21 July 2017'],
 ['South Korea', '1.25', '9 June 2016'],
 ['Sri Lanka', '7.25', '23 March 2017'],
 ['Sweden', '', '0.25', '20 December 2018'],
 ['Switzerland', '', '0.75', '15 January 2015'],
 ['Taiwan', '1.375', '30 June 2016'],
 ['Tajikistan', '16.00', '20 March 2017'],
 ['Thailand', '1.50', '29 April 2015'],
 ['Trinidad and Tobago', '9.25', '28 September 2018'],
 ['Tunisia', '5.00', '24 May 2017'],
 ['Turkey', '19.75', '26 July 2019'],
 ['Uganda', '10.00', '19 June 2017'],
 ['Ukraine', '18.00', '7 September 2018'],
 ['UAE', '2.00', '14 June 2017'],
 ['United Kingdom', '0.75', '2 August 2018'],
 ['United States', '2.25', '31 July 2019'],
 ['Uruguay', '', '', '27 June 2013'],
 ['Uzbekistan', '16.00', '22 September 2018'],
 ['Vietnam', '6.25', '7 July 2017'],
 ['West African States', '2.50', '16 September 2013'],
 ['Zambia', '12.50', '17 May 2017']]